<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppLogDirectory" value="App_Data\Logs" />
    <add key="AssignmentSheetHeaderText" value="DNA - DAAAA" />
    <add key="AssignmentSheetLogoPath" value="img\logo.png" />
    <add key="AssignmentSheetTemplatePath" value="html\AssignmentSheetTemplate.html" />
  </appSettings>
  <connectionStrings>
    <add name="MaterialiDb"
         connectionString="Data Source=DAAT1PD01\DAAA_SQL,1433;
                           Initial Catalog=Materiale;
                           User ID=sa;
                           Password=Pa$$w0rd;
                           Max Pool Size=75;
                           Min Pool Size=5;
                           MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
    <add name="DipendentiDBConnectionString"
         connectionString="Data Source=DAAT1PD01\DAAA_SQL,1433;
                           Initial Catalog=DipendentiDB;
                           User ID=utente_dbpers;
                           Password=Password.2026;
                           Max Pool Size=75;
                           Min Pool Size=5;
                           MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
